
<section class="hero is-success is-halfheight">
    <div class="hero-body">
        <div class="">
            <p class="title">
               Shopping List App
            </p>
            <p class="subtitle">
               Add, update, delete Shopping list.
            </p>
        </div>
    </div>
</section>
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <!-- navbar items, navbar burger... -->
  </div>
  <div class="navbar-menu">
    <!-- navbar start, navbar end -->
  </div>
</nav>