    <main class="section">
        <h4>Add Items to shopping list</h4>
        <form id="additem" class="field">
            <div class="control">
                <label>Enter Store Name</label>
                <input class="input is-primary" id="shopname" type="text" placeholder="Shop">
            </div>
            <div class="control">
                <label>Enter Item Description</label>
                <input class="input is-primary" id="itemdescription" type="text" placeholder="Item Description">
            </div>
            <div class="control">
                <label>Enter Item Quantity</label>
                <input class="input is-primary" id="quantity" type="number" placeholder="Qunatity">
            </div>
            <br />
            <button class="button is-success is-rounded">Add Item to List</button>
        </form>
    </main>