    <main class="section">
        <div class="field">
            <div class="control">
                <label>Enter Shop</label>
                <input class="input is-primary" id="shopname" type="text" placeholder="Shop">
            </div>
            <div class="control">
                <label>Enter Item Description</label>
                <input class="input is-primary" id="itemdescription" type="text" placeholder="Item Description">
            </div>
            <div class="control">
                <label>Enter Item Quantity</label>
                <input class="input is-primary" id="quantity" type="number" placeholder="Qunatity">
            </div>
            <br />
            <button class="button is-success is-rounded" id="additem">Add Item to List</button>
        </div>
    </main>