<tr>
            <td>{{shopname}}</td>
            <td>{{itemdescription}}</td>
            <td>{{quantity}}</td>
            <td><button  class="button is-danger is-light removeitem" id={{id}}>Remove Item</button></td>
</tr>