<tr class="columns">
            <th class="column">{{itemdescription}}</th>
            <th class="column">{{quantity}}</th>
            <th class="column">{{shopname}}</th>
            <th class="column"><button class="removeitem" id={{id}}>Remove Item</button></th>
</tr>