{{!--
<article class="panel is-link">
  <div class="panel-block">
    <p class="control has-icons-left">
      <input class="input is-link" type="text" placeholder="Search">
      <span class="icon is-left">
        <i class="fas fa-search" aria-hidden="true"></i>
      </span>
    </p>
  </div>
</article> --}}
 <main class="section">
<form id="searchForm" class="field">
  <div class="control">
    <label class="label">Search</label>
    <input class="input" id="search" type="text" placeholder="Search shopping list">
  </div>
  <br />
  <button class="button is-success is-rounded">
    Search
  </button>
</form>
</main>