{{> headercontent}}

<div class="container">

        <table class="table is-bordered is-striped is-narrow is-hoverable is-fullwidth">
            <thead class="mb-1 pb-1">
                <tr>
                    <th>Store Name</th>
                    <th>Description</th>
                    <th>Quantity</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody class="mt-3pt-2" id="itemdisplay">

                {{#each list}} {{> listitems}} {{/each}}

            </tbody>
        </table>
    <div class="row">

        <div class="columns">
            {{> inputs}}
        </div>
    </div>
</div>