{{> headercontent}}
<div class="container">
    <div class="row">
        <div class="col-4">
            {{#each list}}
            
            {{/each}}
        </div>
        <div class="col-9">
            {{> inputs}}
        </div>
    </div>
</div>