{{> headercontent}}

<div class="container">
    <div class="row">

        <table>
            <tbody id="itemdisplay">

                {{#each list}} {{> listitems}} {{/each}}

            </tbody>
        </table>

        <div class="colums">
            {{> inputs}}
        </div>
    </div>
</div>